#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flashcard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: #ffd3f3;
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.1);
  width: 60%;
  height: 15rem;
  margin: 100px auto;
}

.flashcard-container {
  text-align: center;
}

.navigation {
  margin-top: 1rem;
}

.navigation button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}